/* 
 - FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30
             / 36 / 44 / 52 / 62 / 74 / 86 / 98 
 - SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 
            / 64 / 80 / 96 / 128 

1.) TYPOGRAPHY -->
    Roboto 
    Font weights --> 400,500,700,900

2.) COLORS -->
Primary: #fcc419
#e3b017
WHITES -->
#FFF
#F1F1F1
GREYS->
#191402
#322705
#654e0a
*/

/* HERO */

.section-hero {
  padding: 9.6rem 3.2rem;
  background-color: #fcc419;
}

.hero-content {
  max-width: 114rem;
  margin: 0 auto;
}

.hero-paragraph {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 4.4rem;
}

.hero-customers-imgs {
  display: flex;
  align-items: center;
}

.hero-customer-img {
  width: 9%;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-left: -1.7rem;
}

.customers-span {
  font-weight: 900;
  color: #191402;
}

.hero-customer-img-para {
  margin-left: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
}

.hero-img {
  width: 75%;
  border-radius: 7px;
}

.hero-grid {
  column-gap: 8rem;
}

/* BENEFITS */

.section-benefits {
  padding: 9.6rem 3.2rem;
  background-color: #191402;
}

.benefits-img {
  width: 40%;
  justify-self: center;
  border-radius: 11px;
  box-shadow: 0 1rem 3rem #fcc419;
}

.benefits-text {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #f1f1f1;
}

.benefit-number {
  font-size: 9.6rem;
  margin-bottom: 2rem;
  color: #4c3b07;
}
